.app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.sidebar {
  width: 64px;
  flex-shrink: 0;
}

.app-content {
  flex: 1;
  overflow-y: auto;
}
